<div class="col">
  <h2>Personas</h2>
  <button class="btn btn-primary" (click)="addPersona()">Agregar Persona</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Fecha nacimiento</th>
      <th>Tipo Documento</th>
      <th>Numero Documento</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of persona">
      <td class="hidden">{{ p.id }}</td>
      <td>{{ p.nombre }}</td>
      <td>{{ p.apellido }}</td>
      <td>{{ p.fechaNacimiento }}</td>
      <td>{{ p.tipoDocumento }}</td>
      <td>{{ p.numeroDocumento }}</td>
      <td>
        <button class="btn btn-success" (click)="editPersona(p)">
          Editar
        </button>
        <button class="btn btn-danger" (click)="deletePersona(p)">
          Borrar
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
